<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Добавить новый департамент</title>
    <link rel="stylesheet" th:href="@{/master.css}">
</head>
<body>
<header>
    <h1>NAUKA: добавить департамент</h1>
    <a href="/logout">Выйти</a>
</header>
<main>
    <form method="POST" th:action="@{/departments/add}" th:object="${department}">
        <label>
            Новый департамент: <br>
            <input type="text" placeholder="Введите название департамента" th:field="*{name}">
        </label>
        <button type="submit">Добавить</button>
    </form>
</main>
</body>
</html>