<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Добавить нового сотрудника</title>
    <link rel="stylesheet" th:href="@{/master.css}">
</head>
<body>
<header>
    <h1>NAUKA: добавить сотрудника</h1>
    <a href="/logout">Выйти</a>
</header>
<main>
    <form action="POST" th:action="@{/employees/add}" th:object="${employee}">
        <input type="text" placeholder="Введите имя" th:field="*{name}"><br>
        <input type="text" placeholder="Введите фамилию" th:field="*{surname}"><br>
        <input type="date" placeholder="Введите дату рождения" th:field="*{birthDate}"><br>
        <input type="text" placeholder="Введите должность" th:field="*{position}"><br>
        <label> Удаленная работа:
            <input type="checkbox" th:field="*{remoteWork}">
        </label><br>
        <input type="text" placeholder="Введите адрес" th:field="*{address}"><br>
        <input type="text" placeholder="Введите департамент" th:field="*{department}"><br>
        <button type="submit">Добавить</button>
    </form>
</main>
</body>
</html>