<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Департаменты</title>
    <link rel="stylesheet" th:href="@{/master.css}">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<header>
    <h1>NAUKA: информация о&nbsp;департаментах</h1>
    <a href="/logout">Выйти</a>
</header>
<main>
    <section>
        <a href="/departments/add" class="add-department">Добавить департамент</a>
    </section>
    <section>
        <table>
            <thead>
            <tr>
                <td>ID</td>
                <td>Название департамента</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="department : ${departments}" th:data-department-id="${department.id}">
                <td th:text="${department.id}"></td>
                <td>
                    <span contenteditable="true" th:text="${department.name}"
                          th:data-dep-id="${department.id}" onfocusout="onDepartmentUpdate(this);"></span>
                </td>
                <td><button onclick="onDepartmentDelete(this)"
                            th:data-department-id="${department.id}" class="delete-department">Удалить</button></td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
<script src="/departments.js"></script>
<script src="/animation.js"></script>
</body>
</html>