<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Департаменты</title>
    <link rel="stylesheet" th:href="@{/master.css}">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<header>
    <h1>NAUKA: информация о департаментах</h1>
    <a href="/logout">Выйти</a>
</header>
<main>
    <section>
        <button>Добавить</button>
        <button>Удалить</button>
    </section>
    <section>
        <table>
            <thead>
            <tr>
                <td>ID</td>
                <td>Название департамента</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="department : ${departments}">
                <td th:text="${department.id}"></td>
                <td>
                    <span contenteditable="true" th:text="${department.name}"
                          th:data-dep-id="${department.id}" onfocusout="onDepartmentUpdate(this);"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
<script src="/timesheet.js"></script>
</body>
</html>