<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Сотрудники</title>
    <link rel="stylesheet" th:href="@{/master.css}">
</head>
<body>
<header>
    <h1>NAUKA: информация о сотрудниках</h1>
    <a href="/logout">Выйти</a>
</header>
<main>
    <section>
        <button>Добавить</button>
        <button>Редактировать</button>
        <button>Удалить</button>
    </section>
    <section>
        <table>
            <thead>
            <tr>
                <td>ID</td>
                <td>Имя</td>
                <td>Фамилия</td>
                <td>Дата рождения</td>
                <td>Возраст</td>
                <td>Должность</td>
                <td>Удаленная работа</td>
                <td>Адрес проживания</td>
                <td>Департамент</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.getId()}"></td>
                <td contenteditable="true" th:text="${employee.getName()}"></td>
                <td contenteditable="true" th:text="${employee.getSurname()}"></td>
                <td contenteditable="true" th:text="${employee.getBirthDate()}"></td>
                <td th:text="${employee.getAge()}"></td>
                <td contenteditable="true" th:text="${employee.getPosition().getName()}"></td>
                <td><input type="checkbox" checked readonly th:checked="${employee.isRemoteWork()}"></td>
                <td contenteditable="true" th:text="${employee.getAddress()}"></td>
                <td contenteditable="true" th:text="${employee.getDepartment().name}"></td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
<script src="/employees.js"></script>
<script src="/animation.js"></script>
</body>
</html>