<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Сотрудники</title>
    <link rel="stylesheet" th:href="@{/master.css}">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<header>
    <h1>NAUKA: информация о сотрудниках</h1>
    <a href="/logout">Выйти</a>
</header>
<main>
    <section>
        <a href="/employees/add">Добавить сотрудника</a>
        <button>Редактировать</button>
    </section>
    <section class="horizontally-scrollable">
        <table>
            <thead>
            <tr>
                <td>ID</td>
                <td>Имя</td>
                <td>Фамилия</td>
                <td>Дата рождения</td>
                <td>Возраст</td>
                <td>Должность</td>
                <td>Удаленная работа</td>
                <td>Адрес проживания</td>
                <td>Департамент</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employees}" th:data-employee-id="${employee.id}">
                <td data-field="" th:text="${employee.getId()}"></td>
                <td contenteditable="true" th:text="${employee.getName()}"
                    data-field="name" onfocusout="onEmployeeUpdate(this);">Иван</td>
                <td contenteditable="true" th:text="${employee.getSurname()}"
                    data-field="surname" onfocusout="onEmployeeUpdate(this);">Петров</td>
                <td contenteditable="true" th:text="${employee.getBirthDate()}"
                    style="white-space: nowrap;"
                    data-field="birthDate" onfocusout="onEmployeeUpdate(this);">2020-05-30</td>
                <td th:text="${employee.getAge()}">0</td>
                <td contenteditable="true" th:text="${employee.getPosition()?.getName()}"
                    data-field="position" onfocusout="onEmployeeUpdate(this);">Программист-математик</td>
                <td><input type="checkbox" checked readonly th:checked="${employee.isRemoteWork()}"
                           data-field="remoteWork" onchange="onEmployeeUpdate(this.parentElement);"></td>
                <td contenteditable="true" th:text="${employee.getAddress()}"
                    data-field="address" onfocusout="onEmployeeUpdate(this);">ул. Пушкина, д. Кукушкина</td>
                <td contenteditable="true" th:text="${employee.getDepartment()?.name}"
                    data-field="department" onfocusout="onEmployeeUpdate(this);">Отдел тайн</td>
                <td><button class="delete-button" onclick="onEmployeeDelete(this)"
                            th:data-employee-id="${employee.id}">Удалить</button></td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
<script src="/employees.js"></script>
<script src="/animation.js"></script>
</body>
</html>