<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Учет времени</title>
    <link rel="stylesheet" th:href="@{/master.css}">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<header>
    <h1>NAUKA: учет времени</h1>
    <a href="/logout">Выйти</a>
</header>
<main>
    <p>
        Год: <span th:text="${year}">1970</span>,
        месяц: <span th:text="${month}">январь</span>.
        <br>
        ИД департамента: <span th:text="${departmentId} ?: 'выбраны все департаменты'"></span>.
    </p>
    <section>
        <h1>Департаменты</h1>
        <ul>
            <li th:each="department : ${departments}">
                <a href="#"
                   th:href="@{|/departments/${department.id}/timesheet?year=${year}&month=${month}|}"
                   th:text="${department.getName()}">
                    Имя департамента
                </a>
            </li>
            <li>
                <a style="font-style: italic;" th:href="@{|/departments/all/timesheet?year=${year}&month=${month}|}">
                    Все департаменты
                </a>
            </li>
        </ul>
    </section>
    <section>
        <ul style="list-style: none;">
            <li style="display: inline-block;" th:each="month: ${months}">
                <a th:href="@{|?year=${year}&month=${month.value}|}"
                   th:text="${month.name}">январь</a>
            </li>
        </ul>
    </section>
    <section>
        <table>
            <thead>
            <tr>
                <td>ФИО</td>
                <td>Должность</td>
                <td>Табельный №</td>
                <td th:each="day : ${timesheet.days}" th:text="${day.getId().day}"></td>
                <td>Итого</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row: ${timesheet.rows}">
                <td th:text="|${row.employee.getName()} ${row.employee.getSurname()}|"></td>
                <td th:text="${row.employee.getPosition().getName()}"></td>
                <td th:text="${row.employee.getId()}"></td>
                <td th:each="day: ${timesheet.days}">
                    <span contenteditable="true" onfocusout="onCellUpdate(this);"
                          th:data-employee-id="${row.employee.id}"
                          th:data-year="${year}"
                          th:data-month="${month}"
                          th:data-day="${day.id.day}"
                          th:text="${row.findDay(day).presence?.getLetterCode()}"></span>
                </td>
                <td th:text="${row.totalPresenceScore.toString()}"></td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
<script src="/timesheet.js"></script>
</body>
</html>
